// LOGO
.logo {
    height: 3.25rem;
    margin-left: 3rem;
}

// SEARCH BOX
.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;  // Causes button to be on top of input element

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {  // Only works in Chrome & Safari browsers
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {  // Using adjacent selector (+) to target button when input is focused
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);  // Makes button look like it's part of input

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);  // Moves button down when it's clicked
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

// USER NAVIGATION
.user-nav {
    background-color: greenyellow;
    align-self: stretch;  // Makes user navigation take up full height of header

    display: flex;
    align-items: center;

    & > * {  // Targets all the direct children (Flex items)
        padding: 0 2rem;
        cursor: pointer;
        height: 100%; // Makes background colour go from top to bottom on hover
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {}

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {}

    &__user {}

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
    }

    &__user-name {}
}