*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* Forces every element to inherit the value specified in the body selector */
}

html {
  /* Root font size is set in html selector */
  font-size: 62.5%;
  /* Root Font Size (1rem = 10px) */
}

body {
  box-sizing: border-box;
  /* Border & Padding will now be included in height & width measurements */
}

@keyframes moveInLeft {
  /* Percentages correspond to times during the animation */
  0% {
    /* Before the animation starts */
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    /* You can include ANY percentage you want! */
    transform: translateX(1rem);
  }
  100% {
    /* When the animation finishes */
    opacity: 1;
    transform: translate(0);
    /* Setting it to 0 means it will look the way it does normally */
  }
}
@keyframes moveInRight {
  /* Percentages correspond to times during the animation */
  0% {
    /* Before the animation starts */
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    /* You can include ANY percentage you want! */
    transform: translateX(-1rem);
  }
  100% {
    /* When the animation finishes */
    opacity: 1;
    transform: translate(0);
    /* Setting it to 0 means it will look the way it does normally */
  }
}
@keyframes moveInFromBottom {
  /* Percentages correspond to times during the animation */
  0% {
    /* Before the animation starts */
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    /* When the animation finishes */
    opacity: 1;
    transform: translate(0);
    /* Setting it to 0 means it will look the way it does normally */
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 1rem; */
  line-height: 1.7;
  color: #777777;
  padding: 3rem;
  /* Creates 'border' around entire web page! */
}

._73501-section-1-heading-primary {
  color: #FFFFFF;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* Guards against animation 'shakiness' */
  margin-bottom: 6rem;
}
._73501-section-1-heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  /* Animation being referenced */
  animation-duration: 1s;
  /* How long animation should take */
  animation-timing-function: ease-out;
  /* This determines how the animation should proceed */
  /* animation-iteration-count: 3; */
  /* animation-delay: 3s; */
}
._73501-section-1-heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;
}

._73501-section-2-heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
._73501-section-2-heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  /* Reference for ::after psuedo-element */
  font-size: 1.6rem;
  /* This makes it equal to 16px as it was before */
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  /* The ::after psuedo-element is being applied in the hover state */
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  color: #777777;
  background-color: #FFFFFF;
}
.btn--white::after {
  background-color: #FFFFFF;
}
.btn::after {
  content: "";
  /* Content property must be specified for the ::after psuedo-element to appear */
  display: inline-block;
  /* Display property must also be specified */
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* Places ::after psuedo-element behind the button */
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInFromBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  /* Automatically applies styles of the 0% BEFORE the animation starts */
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #55c57a;
  padding: 0.3rem;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #FFFFFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.card {
  transition: all 0.3s;
  border-radius: 0.5rem;
  border: 0.15rem solid #BBB9B9;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
}
.card:hover {
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.2);
}
.card__body {
  padding: 1rem;
}
.card___73501-section-3-text-box {
  text-align: center;
}
.card___73501-section-3-icon-1, .card___73501-section-3-icon-2, .card___73501-section-3-icon-3, .card___73501-section-3-icon-4 {
  width: 8.5rem;
  height: 8.5rem;
  margin-bottom: 1.5rem;
}
.card___73501-section-3-text-1 {
  font-size: 1.8rem;
}
.card___73501-section-3-text-2 {
  font-size: 1.8rem;
}

._73501 {
  display: grid;
  grid-template-rows: repeat(7, min-content);
}
._73501-section-3 {
  background-color: #333333;
}
._73501-section-4 {
  background-color: #0000FF;
}
._73501-section-5 {
  background-color: #FFD700;
}
._73501-section-6 {
  background-color: #7E0FC5;
}
._73501-section-7 {
  background-color: #808080;
}

._73501-section-1-header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  /* Ensures that top of image always stays at top of container on all viewport sizes */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* Specify coordinates which define the polygon */
}
._73501-section-1-header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
._73501-section-1-header__logo {
  height: 3.5rem;
  /* The browser will automatically scale the width accordingly */
}
._73501-section-1-header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

._73501-section-2 {
  padding: 25rem 0;
  margin-top: -20vh;
  display: grid;
  grid-template-rows: min-content 40vw;
  grid-template-columns: repeat(2, [col-start] 1fr [col-end]);
  row-gap: 10rem;
}
._73501-section-2-text-box-1 {
  grid-column: col-start 1/col-end 2;
  text-align: center;
}
._73501-section-2-text-1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
._73501-section-2-text-1:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
._73501-section-2-text-box-2 {
  margin-bottom: 2rem;
}
._73501-section-2-text-2 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
._73501-section-2-text-box-3 {
  margin-bottom: 2rem;
}
._73501-section-2-photos {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
}
._73501-section-2-photo {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
._73501-section-2-photo:hover {
  outline: 1.5rem solid #55c57a;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
._73501-section-2-photo--1 {
  grid-row: 1/6;
  grid-column: 1/6;
}
._73501-section-2-photo--2 {
  grid-row: 2/6;
  grid-column: 4/-1;
}
._73501-section-2-photo--3 {
  grid-row: 4/8;
  grid-column: 2/7;
}

._73501-section-3 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  padding: 20rem 0;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
._73501-section-3 > * {
  transform: skewY(7deg);
}
._73501-section-3-card-box {
  background-color: #808080;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}
._73501-section-3-card {
  background-color: rgba(255, 255, 255, 0.8);
  flex: 0 0 20%;
}
._73501-section-3-card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

._73501-section-4 {
  background-color: #F7F7F7;
  padding: 2.5rem 0 50rem 0;
  margin-top: -10rem;
  display: grid;
  grid-template-rows: repeat(3, min-content);
}

/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

/*# sourceMappingURL=style.css.map */
