*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;  /* Forces every element to inherit the value specified in the body selector */
}

html {  /* Root font size is set in html selector */
  font-size: 62.5%;  /* Root Font Size (1rem = 10px) */
}

body {
  box-sizing: border-box; /* Border & Padding will now be included in height & width measurements */
}