.card {
    transition: all .3s;
    // width: 40%;  // Controls size of card (optional)
    border-radius: .5rem;
    border: .15rem solid #BBB9B9;  // Makes card stand out (optional)
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, .2);

    &:hover {
        box-shadow: 0 .4rem 1.6rem 0 rgba(0, 0, 0, .2);
    }

    &__body {
        // padding: .2rem 1.6rem;
        padding: 1rem;

        &--front, &--back  {
            position: absolute;
            top: 0;
            left: 0;
            // width: 100%;
            backface-visibility: hidden;
        }

        &--front {
            background-color: $color-white;
        }

        &--back {
            // background-color: green;
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
        }
    }

    // Section 3
    &___73501-section-3 {

        &-text-box {
            // background-color: #FF0000;  // Testing
            text-align: center;
        }

        &-icon-1, &-icon-2, &-icon-3, &-icon-4 {
            width: 8.5rem;
            height: 8.5rem;
            margin-bottom: 1.5rem;  // Creates distance between icon and text
        }

        &-text-1 {
            // font-size: 1.5rem;
            font-size: 1.8rem;
        }

        &-text-2 {
            // font-size: 1.5rem;
            font-size: 1.8rem;
        }
    }

    // Section 4
    &___73501-section-4 {

        &-photo-box-1 {
            height: 25rem;  // Required for image to show
            background-image: url('../img/nat-5.jpg');
            background-size: cover;
        }
    }
}